.menu
  %ul.ul-menu
    %li
      %a.li-a-first{:href => "#aktualnosci"} aktualnosci
    %li
      %a{:href => "#sklep"} sklep
    %li
      %a{:href => "#koszyk"} koszyk
    %li
      %a{:href => "#o_mnie"} o mnie
    %li
      %a{:href => "#informacje"} informacje
.content_site
  .koronka_lewa
  #aktualnosci.aktualnosci
    %a{:name => "href_aktualnosci", :style => "position:inherit; top: -100px;"}
    .logo
    .ramka_jasna
      .ramka_wlasciwa
        .dmuchawce
        - @news.each do |news|
          .aktualnosci_text{:style=>(@news.first == news ? "" : "display:none")}
            = raw news.content
    .aktualnosci_nawigacja
      %a.akt_nav_next{:title => "Next image"}
      %a.akt_nav_prev{:title => "Previous image"}
    .h_line
  #sklep.sklep
    %a{:name => "href_sklep", :style => "position:inherit; top: -70px;"}
    .sklep_content
      - @products.each do |product|
        .galery-container{:class => "product_ product_#{product.id}#{@products.first==product ? " first":""}"}
          %div#ppy2.ppy
            %ul.ppy-imglist
              - product.photos.each do |photo|
                %li
                  %a{:href => photo.photo_url}
                    %img{:alt => photo.id, :src => photo.photo_small_url}/
            .ppy-outer
              .ppy-stage-wrap
                .ppy-stage
                  .ppy-counter
                    %strong.ppy-current
                    \/
                    %strong.ppy-total
                    (kliknij, by powiększyć)
              .ppy-nav
                .ppy-nav-wrap
                  %a.ppy-next{:title => "Next image"} Next image
                  %a.ppy-switch-enlarge{:title => "Enlarge"} Enlarge
                  %a.ppy-switch-compact{:title => "Close"} Close
                  %a.ppy-prev{:title => "Previous image"} Previous image
      - @products.each do |product|
        %div{:class => ("opis_naszyjnika product_ product_#{product.id}#{@products.first==product ? " first":""}")}
          .ramka_jasna
            .ramka_wlasciwa
              %div= raw product.description
              %p.cena= "cena: #{product.price} zł"
      .do_koszyka
        %a do koszyka   
      .galeria_tip
        %p Obejrzyj inne produkty (możesz poruszać się po galerii za pomocą strzałek)
      .naszyjniki_lista
        .ramka_jasna
          #wrapper_naszyjniki.wrapper
            #content_naszyjniki.content
              .scroll_pane
                - @products.each do |product|
                  .naszyjnik_miniatura
                    %a{:href => "#product_#{product.id}"}
                      %img.product_list_miniature{:src => product.photo.to_s} 
      .naszyjniki_lista_nawigacja
        %a.akt_nav_next{:title => "Next image"}
        %a.akt_nav_prev{:title => "Previous image"}
    .h_line
  #koszyk.koszyk
    %form.niceform{:action => "vars.php", :method => "post"}
      %a{:name => "href_koszyk", :style => "position:inherit; top: -70px;"}
      .koszyk_lista
        .ramka_jasna
          %table
            %tr
              %td.koszyk_lista_lp 1.
              %td.koszyk_lista_miniatura
                %img{:src => "./img/naszyjniki/naszyjnik8a.jpg"}/
              %td.koszyk_lista_nazwa Nazwa naszyjnika
              %td.koszyk_lista_cena 156 zł
              %td.koszyk_lista_checkbox
                %input#opakowanie_checkbox{:name => "opakowanie[]", :type => "checkbox", :value => "Tak"}/
                %label.opt{:for => "opakowanie_checkbox"} na prezent
            %tr
              %td.koszyk_lista_lp 2.
              %td.koszyk_lista_miniatura
                %img{:src => "./img/naszyjniki/naszyjnik8a.jpg"}/
              %td.koszyk_lista_nazwa Nazwa naszyjnika drugiego
              %td.koszyk_lista_cena 15 zł
              %td.koszyk_lista_checkbox
                %input#opakowanie_checkbox{:name => "opakowanie[]", :type => "checkbox", :value => "Tak"}/
                %label.opt{:for => "opakowanie_checkbox"} na prezent
            %tr
              %td.koszyk_lista_lp 3.
              %td.koszyk_lista_miniatura
                %img{:src => "./img/naszyjniki/naszyjnik8b.jpg"}/
              %td.koszyk_lista_nazwa Nazwa naszyjnika dzwonki chaosu
              %td.koszyk_lista_cena 156 zł
              %td.koszyk_lista_checkbox
                %input#opakowanie_checkbox{:name => "opakowanie[]", :type => "checkbox", :value => "Tak"}/
                %label.opt{:for => "opakowanie_checkbox"} na prezent
      .koszyk_lista_nawigacja
        %a.akt_nav_prev{:title => "Previous image"}
        %a.akt_nav_next{:title => "Next image"}
      .przesylka
        %label{:for => "select_przesylka"} Opcje dostawy:
        %select#select_przesylka{:name => "select_przesylka", :size => "1"}
          %option{:value => "PP_eko"} Poczta Polska (przesyłka ekonomiczna) - 10 zł
          %option{:value => "PP_prio"} Poczta Polska (przesyłka ekonomiczna) - 12 zł
          %option{:value => "Kurier"} Kurier - 15 zł
      .adres_klienta
        %label{:for => "adres"} Adres dostawy:
        %textarea#adres_k{:name => "adres_k"}
      .email_klienta
        %label{:for => "email"} Twój email:
        %input#email_k{:name => "email_k", :type => "text"}/
      .koszt_zakupow
        .ramka_jasna
          .ramka_wlasciwa
            %p SUMA: 159,50 zł
      .kupuje
        %a KUPUJĘ
    .h_line
  #o_mnie.o_mnie
    %a{:name => "href_o_mnie", :style => "position:inherit; top: -70px;"}
    .o_mnie_content
      .o_mnie_logo
      %a.a-nazywam
        Nazywam się Małgorzata (Megi) Mikos.
        %br/
        Znam się trochę na: szyciu, filozofii, poezji, fotografowaniu i grafice.
        %br/
        Zapraszam do mojej galerii.
      .ramka_jasna
        .ramka_wlasciwa
          .zdjecie_megi
          %a.a-bizuterie
            Biżuterię tworzę dla przyjemności i dla tych pięknych chwil, gdy udaje mi się porozumieć z materią w kwestii formy. Umiem rozmawiać z rzeczami tak, żeby zdradziły mi swoje możliwości i... swoje marzenia.
            %br/
            %br/
            Odkryłam, że najczęściej rzeczy marzą o tym, aby zostać biżuterią ;)
            %br/
            = succeed "Ostatnio" do
              %br/
            pracuję z tkaninami, stąd kolekcja biżuterii z tkanin.
          %a.a-wzory Wzory, projekty, pomysły, wykonanie i "wynalazki techniczne" są wyłącznie mojego autorstwa.
    .h_line
  #informacje.informacje
    %a{:name => "href_informacje", :style => "position:inherit; top: -70px;"}
    .section_title_informacje
.footer
  projekt graficzny: Megi Mikos i Olga Rybacka, wykonanie: Olga Rybacka
.koronka_prawa
.liany
