= form_for @product do |f|
  -if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :count_all
    = f.number_field :count_all
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :package_id, "Paczka"
    = f.select :package_id, @packages.collect {|p| [p.name, p.id]}
  .actions
    = f.submit 'Save'
