%h1 Listing products

%table
  %tr
    %th Name
    %th Count all
    %th Price
    %th Photo small
    %th Photo
    %th Description
    %th Package
    %th
    %th
    %th

  - @products.each do |product|
    %tr
      %td= product.name
      %td= product.count_all
      %td= product.price
      %td
        - product.photos.each do |photo|
          %img{:src=>photo.photo_small_url}
      %td
        - product.photos.each do |photo|
          %img{:src=>photo.photo_url}
      %td= product.description
      %td= product.package.name
      %td= link_to 'Zdjęcia', product_product_photos_url(product)
      %td= link_to 'Show', product
      %td= link_to 'Edit', edit_product_path(product)
      %td= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Product', new_product_path
