!!!
%html
  %head
    %title Megi Mikos
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = javascript_include_tag "/javascripts/ckeditor/ckeditor.js"
    = csrf_meta_tags
  %body
    %nav.menu
      %a{:href=>"/products"} produkty
      %a{:href=>"/packages"} opakowania
      %a{:href=>"/news"} aktualności
    .container
      = yield
